.comment-item-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
  .comment-item-image-container{
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    height: 30px;
    width: 30px;
  }
  img {
    border-radius: 50%;
  }
  .comment-right-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 8px;
    .reply-which-comment-text {
      border: 1px solid #e4e6eb;
      background-color: #f2f3f5;
      padding: 0 12px;
      color: #8a919f;
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .comment-top-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      span {
        color: #888888;
        margin-right: 10px;
        font-size: 13px;
        margin-top: 5px;
      }
      .username {
        color: rgb(255, 87, 119);
        font-size: 14px;
        .post-author {
          margin-right: 0;
          border: 1px solid #5dbeff;
          margin-left: 4px;
          color: #5dbeff;
          border-radius: 2px;
          padding: 0 1px;
        }
      }
    }
    .reply-for {
      color: #0f93df;
      margin-right: 5px;
    }
    .content {
      color: #515767;
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .comment-operations {
      span {
        cursor: pointer;
        color: #8a919f;
        font-size: 14px;
        padding-right: 10px;
        vertical-align: center;
        display: inline-flex;
        align-items: center;
        i {
          font-size: 16px;
        }
        &:nth-child(1):hover {
          color: #2761f4;
        }
        &:nth-child(2):hover {
          color: red;
        }
        &:nth-child(3):hover {
          color: #ff5777;
        }
      }
    }
    .comment-item-input {
      margin-top: 10px;
      p {
        margin-bottom: 0;
      }
      .comment-item-submit-btn {
        text-align: right;
      }
    }
  }
}
