.comment-list-header {
  display: inline-block;
  color: #333;
}

.comment-list-no-content {
  text-align: center;
  font-size: 14px;
  color: #7c7c7c;
}

.children-comment-list {
  margin-left: 40px;
  padding: 4px;

}
