@font-face {
  font-family: "iconfont"; /* Project id 3975730 */
  src: url('//at.alicdn.com/t/c/font_3975730_10njskxlqx3.woff2?t=1680252048364') format('woff2'),
       url('//at.alicdn.com/t/c/font_3975730_10njskxlqx3.woff?t=1680252048364') format('woff'),
       url('//at.alicdn.com/t/c/font_3975730_10njskxlqx3.ttf?t=1680252048364') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drop-down:before {
  content: "\e63a";
  margin-left: -9px;
}

.icon-github:before {
  content: "\e689";
}

.icon-profile:before {
  content: "\e6b7";
}

.icon-home:before {
  content: "\e626";
}
