@font-face {
  font-family: "iconfont"; /* Project id 3975730 */
  src: url('//at.alicdn.com/t/c/font_3975730_f4l12yw58xn.woff2?t=1680624215392') format('woff2'),
       url('//at.alicdn.com/t/c/font_3975730_f4l12yw58xn.woff?t=1680624215392') format('woff'),
       url('//at.alicdn.com/t/c/font_3975730_f4l12yw58xn.ttf?t=1680624215392') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoshuai:before {
  content: "\e619";
}

.icon-rili:before {
  content: "\e620";
}

.icon-pinglun:before {
  content: "\e62f";
}

.icon-liulan:before {
  content: "\e648";
}

.icon-shejiaotubiao-03:before {
  content: "\e641";
}

.icon-drop-down:before {
  content: "\e63a";
  margin-left: -9px;
}

.icon-github:before {
  content: "\e689";
}

.icon-profile:before {
  content: "\e6b7";
}

.icon-home:before {
  content: "\e626";
}
