@font-face {
  font-family: "iconfont"; /* Project id 3975730 */
  src: url('//at.alicdn.com/t/c/font_3975730_23vn0iogxyn.woff2?t=1681634141391') format('woff2'),
       url('//at.alicdn.com/t/c/font_3975730_23vn0iogxyn.woff?t=1681634141391') format('woff'),
       url('//at.alicdn.com/t/c/font_3975730_23vn0iogxyn.ttf?t=1681634141391') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-comment:before {
  content: "\e63b";
}

.icon-delete:before {
  content: "\e699";
}

.icon-pachong:before {
  content: "\e6c5";
}

.icon-loading:before {
  content: "\e627";
}

.icon-yasuobao:before {
  content: "\e64d";
}

.icon-yunshangchuan_o:before {
  content: "\ebb3";
}

.icon-liuchengbushu:before {
  content: "\e628";
}

.icon-zhuanhuantuxing:before {
  content: "\e634";
}

.icon-ip:before {
  content: "\e67d";
}

.icon-shijianchuo:before {
  content: "\e604";
}

.icon-regularExpression-o:before {
  content: "\e739";
}

.icon-xiaoshuai:before {
  content: "\e619";
}

.icon-rili:before {
  content: "\e620";
}

.icon-pinglun:before {
  content: "\e62f";
}

.icon-liulan:before {
  content: "\e648";
}

.icon-shejiaotubiao-03:before {
  content: "\e641";
}

.icon-drop-down:before {
  content: "\e63a";
  margin-left: -9px;
}

.icon-github:before {
  content: "\e689";
}

.icon-profile:before {
  content: "\e6b7";
}

.icon-home:before {
  content: "\e626";
}
