.loading {
  width: 30px;
  height: 30px;
  border: 3px solid #1677ff;
  border-top-color: transparent;
  border-radius: 100%;
  position: absolute;
  animation: circle infinite 1s linear;
}
.medium {
  width: 30px;
  height: 30px;
  left: calc(50% - 15px);
}

.small {
  width: 20px;
  height: 20px;
  border: 2px solid #1677ff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}
.large {
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
}
// 转转转动画
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
