.login-container {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 350px;
  box-shadow: 0 0 5px #c2c2c2;
  border-radius: 5px;
  height: 180px;
  background-color: white;
  padding: 10px;

  .login-title {
    border-bottom: 1px dashed #d1d1d1;
    padding: 4px 0 8px 0;
    display: flex;
    justify-content: space-between;
    color: #333;
    span:nth-child(2) {
      cursor: pointer;
      font-size: 20px;
      color: rgb(247, 105, 105);
      &:hover {
        color: rgb(249, 55, 55);
      }
    }
  }
  .login-item-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .login-opt-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 110px;
      cursor: pointer;
      border-radius: 4px;
      span {
        font-size: 40px;
        display: inline-block;
        border-radius: 4px;
        padding: 15px;
      }
      &:hover {
        background-color: #efefef;
      }
    }
  }
}
