.login-container {
  cursor: pointer;
  margin-left: 15px;
  min-width: 41px;
  text-align: center;
  .login-content {
    display: flex;
    font-size: 13px;
    position: relative;
    color: rgb(180, 185, 190);
    &:hover {
      color: #fff;
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 3px;
    }
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 800px) {
}
